extends ../templates/admin-layout

block css
    link(rel="stylesheet", href="/css/workshop-layout.css")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/header.css")
    link(rel="stylesheet", href="/css/checklist.css")

block content
    -
        const helpLink = '/workshop/elite/vehicle-checklist?vin=' + vehicleData.vin;
        const qrHelpLink = 'https://api.qrserver.com/v1/create-qr-code/?data=test.my-rv.com.au' + encodeURIComponent(helpLink) + '&size=100x100&qzone=3';

    div(id="checklistArea")
        div(id="checklistTop")
            div(id="checklistHeader")
                img(src="/images/black-logo.png", id="checklistHeaderImg")
                if checklistItems.length>0
                    if checklistItems[0].indent == 0
                        h1(id="checklistHeaderText") #{checklistItems[0].description}
                        a(id="checklistHelpLink", target="_blank" href=helpLink) Checklist Help Sheet
                else
                    h1(id="checklistHeaderText") No Checklist

            div(id="prefillData")
                table(id="prefillDataTable")
                    tr 
                        td(class="vehicleDataDescCell") VIN:
                        td(class="vechicleDataCell") #{vehicleData.vin}
                    tr 
                        td(class="vehicleDataDescCell") Build Number:
                        td(class="vechicleDataCell") #{vehicleData.buildNo}
                    tr 
                        td(class="vehicleDataDescCell") Model:
                        td(class="vechicleDataCell") #{vehicleData.modelDesc}
                    tr
                        td(class="vehicleDataDescCell") Engine Number:
                        td(class="vechicleDataCell") #{vehicleData.engineNo}
                    tr
                        td(class="vehicleDataDescCell") Is on RAV:
                        td(class=['vechicleDataCell', (vehicleData.isOnRav==0 ? 'emphasis' : '')]) #{(vehicleData.isOnRav==1 ? 'Yes' : '***No***')}
        
        hr.checklistPageSplit

        div(id="checklistItems")
            ul(id="checklistItemList")
                each item in checklistItems
                    if item.indent > 0
                        li(class=['checklistItem', ('indent'+item.indent)])
                            span(class="spacer")
                            | #{item.description}
        img(id="checklistHelpLinkQR", src=qrHelpLink)